{% extends 'index.html' %}
{% load static %}

<title> {{ title }} </title>




    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
 {% block content %}
    <!-- Body main wrapper start -->
    <div class="wrapper">

        <!-- Start Header Style -->


        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__title text-center">
                            <h2 class="bradcaump-title">About us</h2>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- End Bradcaump area -->  
        
        <!-- Start Support Area -->
        <section class="htc__support__area p-t-b-50 bg__white  about-page">
            <div class="container">
                <div class="row">
                    <div class="htc__support__wrap clearfix">
                        <div class="about__right_image h-100p d-flex-center w-44p">
                            <img src="{% static 'images/about/4.png' %}" alt="" class="min-h-60p">
                        </div>
                        <div class="col-lg-7 col-sm-12 col-12">
                            <div class="htc__support__content">
                                <div class="htc__support__inner">
                                    <h4 class="text--theme">About...</h4>
                                    <h2 class="text--theme"></h2>
                                    <div class="htc__support__details">
                                        <p>With the most extensive product line in the science, Asiapacific has passed more tests, in more languages, for more
                                        certifications. Asiapacific remains dedicated to delivering innovative solutions for the clinical, life science, research
                                        and industrial laboratory community.</p>
                                        
                                        <p>Asiapacific directs a highly efficient research, product development, manufacturing and customer service program. And
                                        because of our worldwide presence, and because we listen carefully to our customers and our distributors, you can have
                                        confidence that Asiapacific products represent the best thinking in the world.</p>
                                        
                                        <p>Our technological expertise, the high quality of our products and services and our global presence make Asiapacific a
                                        preferred partner of the pharmaceutical, biotech, chemical, and food and beverage industries. We enable our customers to
                                        implement complex processes in the laboratory and in production.</p>
                                    </div>
                                    <div class="htc__spt__dai">
                                        <div class="play_video">
                                            <a href="https://www.youtube.com/watch?v=KeKNjVg22pc"><i class="zmdi zmdi-play"></i></a>
                                            <span>Play This Video</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Support Area -->
        
        <!-- Start Gallery Area -->
        <section class="htc__gallery__area gallery--1 pt--100 pb--70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section__title text-center pb--50">
                            <h2 class="title__line text--theme">Our Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
        
                    <!-- Start Single Gallery -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="singel_project mb--30">
                            <div class="project_img">
                                <a href="ventilator.html">
                                    <img src="images/portfolio/project/vent.png" alt="Cardiology Icon"
                                        style="width: 370px;height: 320px;">
                                </a>
                            </div>
                            <div class="project_content">
                                <h3><img src="images/portfolio/project/ventilator.png" alt="Ventilator" class="m-h-25"><a
                                        href="ventilator.html">Ventilator</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="singel_project mb--30">
                            <div class="project_img">
                                <a href="mask.html">
                                    <img src="images/portfolio/project/mask.png" alt="Mask"
                                        style="width: 370px;height: 320px;">
                                </a>
                            </div>
                            <div class="project_content">
                                <h3><img src="images/portfolio/project/face-mask.png" alt="Cardiology icon" class="m-h-25"><a
                                        href="mask.html">Face Mask</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="singel_project mb--30">
                            <div class="project_img">
                                <a href="eye.html">
                                    <img src="images/portfolio/project/eye.png" alt="Cardiology Icon"
                                        style="width: 370px;height: 320px;">
                                </a>
                            </div>
                            <div class="project_content">
                                <h3><img src="images/portfolio/project/lab.png" alt="Cardiology Dept" class="m-h-25"><a
                                        href="eye.html">Eye Protection</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="container m-t-30">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ht__appoin__btn">
                                    <button type="submit" href="blog.html">View All</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Gallery -->
        
        
                </div>
            </div>
        </section>
        <!-- End Gallery Area -->

        <!-- Start Subscribe Area -->
        <section class="htc__subscribe__area bg-2 subscribe--transparent">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="htc__subscribe__inner">
                            <div class="newsletter_section_title">
                                <h2 class="text-theme">Subscribe Email</h2>
                                <h4>Get our latest news & update regularly</h4>
                            </div>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <form action="#">
                                        <div class="input_email_inner">
                                            <input type="email" placeholder="Type Email Address">
                                        </div>
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        {% endblock content %}
