{% extends 'index.html' %}
{% load static %}

    <title> {{ title}} </title>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
       
       
        <!-- Start Header Style -->
<!--        <header class="htc__header">-->
<!--            &lt;!&ndash; Start Header Top Area &ndash;&gt;-->
<!--            <div class="htc__header__top">-->
<!--                <div class="container">-->
<!--                    <div class="row ">-->
<!--                        <div class="col-lg-6 col-md-8 col-12">-->
<!--                            <div class="ht__header__top__left">-->
<!--                                <p><span><i class="zmdi zmdi-phone"></i></span>+61 4888 75984 </p>-->
<!--                                <p><span><i class="zmdi zmdi-alarm-check"></i></span>Mon to sat 07 am to 12 am</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6 col-md-4 col-12">-->
<!--                            <div class="ht__header__top__right">-->
<!--                                <div class="social_icon">-->
<!--                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-whatsapp"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- End Header Top Area -->
        
<!--            &lt;!&ndash; Start Mainmenu Area &ndash;&gt;-->
<!--            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">-->
<!--                <div class="container">-->
<!--                    <div class="row align-items-center">-->
<!--                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-7">-->
<!--                            <div class="logo">-->
<!--                                <a href="index.html">-->
<!--                                    <img src="images/logo/logo.png" alt="logo">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-9 col-lg-9 d-none d-lg-block">-->
<!--                            <nav class="main__menu__nav ">-->
<!--                                <ul class="main__menu">-->
<!--                                    <li class="drop"><a href="index.html">Home</a></li>-->
<!--                                    <li class="drop"><a href="about-us.html">About</a></li>-->
<!--                                    <li class="drop">-->
<!--                                        <a href="product.html">Products</a>-->
<!--                                    </li>-->
<!--                                    <li class="drop"><a href="contact-us.html">Contact</a></li>-->
<!--                                </ul>-->
<!--                            </nav>-->
<!--                        </div>-->
<!--        -->
<!--                        <div class="col-12">-->
<!--                            <div class="mobile-menu d-lg-none">-->
<!--                                <nav>-->
<!--                                    <ul>-->
<!--                                        <li class="drop"><a href="index.html">Home</a></li>-->
<!--                                        <li class="drop"><a href="about-us.html">About</a></li>-->
<!--                                        <li class="drop"><a href="product.html">Product</a></li>-->
<!--                                        <li class="drop"><a href="contact-us.html">Contact</a></li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Mainmenu Area &ndash;&gt;-->
<!--        </header>-->
        <!-- End Header Style -->
      {% block content %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bradcaump__title text-center">
                            <h2 class="bradcaump-title">Contact Us</h2>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- End Bradcaump area -->  
        
        
         <!-- Start Contact Area -->
        <section class="htc__contact__area bg__white pt--30 pb--15">
            <div class="container">
                <div class="row contact__addres__wrapper">
                    <!-- Start Single Addrss -->
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12 xmt--40">
                        <div class="address">
                            <div class="address__icon">
                                <i class="zmdi zmdi-phone"></i>
                            </div>
                            <div class="address__details">
                                <p><a href="#"></a></p>
                                <p><a href="#">+61 4888 75984</a></p>
                                <p><a href="#"></a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Addrss -->
                    <!-- Start Single Addrss -->
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12">
                        <div class="address">
                            <div class="address__icon">
                                <i class="zmdi zmdi-pin"></i>
                            </div>
                            <div class="address__details">
                                <p>2003, 20/F, Tower 5, China Hong Kong City, 33 Canton Rd, Tsim Sha Tsui, Hong Kong</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Addrss -->
                    <!-- Start Single Addrss -->
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12 smt--40 xmt--40">
                        <div class="address">
                            <div class="address__icon">
                                <i class="zmdi zmdi-globe"></i>
                            </div>
                            <div class="address__details">
                                <p><a href="#">info@asiapacificequipments.com</a></p>
                                <p><a href="#">www.asiapacificequipments.com</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Addrss -->
                    
                </div>
            </div>
            <!-- Start Google Map -->
            <div class="htc__google__map">
                <div class="map-contacts">
                    <div id="googleMap"></div>
                </div>
            </div>
            <!-- End Google Map -->
            <!-- Start Conatact Form -->
            <div class="psy__contact__form">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                            <div class="htc__contact__form__wrap">
                            <div class="contact-form-wrap">
                                <h2 class="ct__title text--theme">Send us a message</h2>
                                <form id="contact-form" action="." method="post">
                                    {% csrf_token %}
                                 {% if error_message %}
                                 <div class="alert alert-primary" role="alert">
                                     {{error_message}}
                                 </div>
                                 {% endif %}
                                    <div class="single-contact-form name">
                                        <div class="contact-box name_email">
                                            <div class="contact-box">
                                                <input type="text" placeholder="Your Name *" name="name">
                                            </div>
                                            <div class="contact-box">
                                                <input type="text" placeholder="Phone *" name="phonenumber">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box subject">
                                            <input type="email" placeholder="Email*" name="email">
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box message">
                                            <textarea name="message" placeholder="message*"></textarea>
                                        </div>
                                    </div>
                                    <div class="contact-btn">
                                        <button type="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>                            
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
           
            <!-- End Contact Form -->
        </section>
        
        
        <!-- Start Subscribe Area -->
        <section class="htc__subscribe__area subscribe--transparent">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="htc__subscribe__inner">
                            <div class="newsletter_section_title">
                                <h2 class="text-theme">Subscribe Email</h2>
                                <h4>Get our latest news & update regularly</h4>
                            </div>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <form action="#">
                                        <div class="input_email_inner">
                                            <input type="email" placeholder="Type Email Address">
                                        </div>
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        {% endblock content %}
        <!-- End Subscribe Area -->
<!--        &lt;!&ndash; Start Footer Area &ndash;&gt;-->
<!--        <footer class="footer_area">-->
<!--            <div class="footer_top">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4 p-0 d-flex">-->
<!--                            <div class="col-lg-6 col-md-6">-->
<!--                                <div class="single_footer widget footer_1">-->
<!--                                    <div class="single_footer_title">-->
<!--                                        <h2>Links</h2>-->
<!--                                    </div>-->
<!--                                    <div class="single_footer_menu">-->
<!--                                        <ul>-->
<!--                                            <li><a href="index.html">Home</a></li>-->
<!--                                            <li><a href="about-us.html">About</a></li>-->
<!--                                            <li><a href="product.html">Product</a></li>-->
<!--                                            <li><a href="contact-us.html">Contact</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--        -->
<!--                            <div class="col-lg-6 col-md-6">-->
<!--                                <div class="single_footer widget footer_2">-->
<!--                                    <div class="single_footer_title">-->
<!--                                        <h2>Products</h2>-->
<!--                                    </div>-->
<!--                                    <div class="single_footer_menu">-->
<!--                                        <ul>-->
<!--                                            <li><a href="mask.html">Face Mask</a></li>-->
<!--                                            <li><a href="ventilator.html">Ventilator</a></li>-->
<!--                                            <li><a href="gloves.html">Gloves</a></li>-->
<!--                                            <li><a href="eye.html">Eye Protection</a></li>-->
<!--                                            <li><a href="coverall.html">Coverall</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-md-8 p-0 d-flex">-->
<!--                            <div class="col-lg-6 col-md-6">-->
<!--                                <div class="single_footer widget footer_3 ">-->
<!--                                    <div class="single_footer_title">-->
<!--                                        <h2>Address Headquaters</h2>-->
<!--                                    </div>-->
<!--                                    <div class="single_footer_desc">-->
<!--                                        <p>2003, 20/F, Tower 5, China Hong Kong City, 33 Canton Rd, Tsim Sha Tsui, Hong Kong</p>-->
<!--                                        <p>+61 4888 75984 <br> +61 4888 75984 </p>-->
<!--                                        <p>info@example.com<br> www.example.com </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6">-->
<!--                                <div class="single_footer widget footer_4">-->
<!--                                    <div class="single_footer_title">-->
<!--                                        <h2>Addres Operational Office</h2>-->
<!--                                    </div>-->
<!--                                    <div class="single_footer_desc">-->
<!--                                        <p>Unit 1613, South Tower Guangzhou World Trade Center 371-375 Huanshi East Road-->
<!--                                            Guangzhou Guangdong 510095-->
<!--                                            China</p>-->
<!--                                        <p>+61 4888 75984 <br> +61 4888 75984 </p>-->
<!--                                        <p>info@example.com<br> www.example.com </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="copyright">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12">-->
<!--                            <div class="copyright__content">-->
<!--                                <div class="copyright__inner">-->
<!--                                    <p>Copyright © <a href="#">curex</a> All Rights Reserves </p>-->
<!--                                </div>-->
<!--                                <div class="social__icon">-->
<!--                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>-->
<!--                                    <a href="#"><i class="zmdi zmdi-whatsapp"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Copyright Area &ndash;&gt;-->
<!--        </footer>-->
<!--        &lt;!&ndash; End Footer Area &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Body main wrapper end &ndash;&gt;-->

<!--    &lt;!&ndash; Placed js at the end of the document so the pages load faster &ndash;&gt;-->

<!--  -->
<!--    &lt;!&ndash; jquery latest version &ndash;&gt;-->
<!--    <script src="js/vendor/jquery.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->
<!--    <script src="js/popper.js"></script>-->
<!--    <script src="js/plugins.js"></script>-->
<!--    <script src="js/ajax-mail.js"></script>-->
<!--    &lt;!&ndash; Google Map js &ndash;&gt;-->
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>-->
<!--    <script src="js/map.js"></script>-->
<!--    <script src="js/main.js"></script>-->
<!--    -->
<!--    -->
<!-- </body>-->


<!-- Mirrored from demo.hasthemes.com/curex-preview/curex/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 19 Apr 2020 18:10:13 GMT -->
        <!--</html>-->