{% extends 'index.html' %}
{% load static %}

<title> {{ title }} </title>


{% block content %}

        <!-- Start Banner area -->
        <div class="container-fluid p-0">
            <div class="slider-wrapper h-350 bg-opacity" style="background-image:url(images/slider/ventilator.png)">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 banner-text">
                            <div class="slider-content t-a-c">
                                <h2>{{ category.title }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner area -->
        
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__title text-center">
                            <div class="breadcurumb_menu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li>/</li>
                                    <li><a href="{% url 'products' %}">Product</a></li>
                                    <li>/</li>
                                    <li><a href="#">{{ category.title }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- End Bradcaump area -->  
        
        <!--Our product page-->
 {% for object in products %}
        <div class="our_blog_area no-sidebar ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                        <div class="post_details_inner">
                            <div class="product-wrapper">
                                <div class="product-top-title">
                                    <div class="product-title">
                                        <h2> </h2>
                                    </div>
                                    <hr class="hr-line">

                                    <div class="product-content">
                                        <div class="col-md-8 p-0">
                                            <p>{{ object.title }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-lg-12 product-info">
                                    <div class="container p-0">
                                        <div class="row">
                                             {% if object.itemimage_set.count > 0 %}
                                            <div class="col-md-5 p-0">
                                                <div class="single_post_thumbnail h-100p">
                                                    {% for img in object.itemimage_set.all %}
                                                    <img src="{{ img.image.url }}" alt="single post thumbail" class="min-h-100p">
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-md-5 p-0 mid-box">
                                                <div class="mid-box-title">
                                                    <h2>Features</h2>
                                                </div>
                                                <div class="mid-box-content">
                                                    <ul>
                                                        {% for list in object.description %}

                                                        <li>{{ list }}</li>
<!--                                                        <li>Inspiration halt, convenient for sucking phlegm</li>-->
<!--                                                        <li>Oxygen mixing technique to adjust oxygen concentration and meet the oxygen therapy need</li>-->
<!--                                                        <li>Alarm and monitoring system which meet the international safety standard</li>-->
<!--                                                        <li>TFT screen, displaying various respiration parameters and waveforms</li>-->
<!--                                                        <li>With built-in battery and on-vehicle power connector for A/C and D/C power supply</li>-->
<!--                                                        <li>PEEP valve, humidifier, trolley, supporting arm and other accessories as optional</li>-->
<!--                                                        <li>Can be a portable one with oxygen cylinder.</li>-->
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-2 third-box p-0">
                                                <div class="third-box-title">
                                                    <h2>Available Info</h2>
                                                </div>
                                                <div class="third-box-content">
                                                    <ul>
                                                        <li>-2kPa～2kPa</li>
                                                        <li>Oxygen 48-100%</li>
                                                        <li>Airway pressure waveform display</li>
                                                        <li>LCD Screen</li>
                                                        <li>Respiratory 4bpm-80bpm</li>
                                                        <li>Tidal volume 0.15-1500ml</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% endfor %}

<!--        <div class="our_blog_area no-sidebar ptb&#45;&#45;100">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-10 offset-lg-1 col-md-12 col-12">-->
<!--                        <div class="post_details_inner">-->
<!--                            <div class="product-wrapper">-->
<!--                                <div class="product-top-title">-->
<!--                                    <div class="product-title">-->
<!--                                        <h2>Ventilator (Made in Germany) Out of stock</h2>-->
<!--                                    </div>-->
<!--                                    <hr class="hr-line">-->
<!--                                    <div class="product-content">-->
<!--                                        <div class="col-md-8 p-0">-->
<!--                                            <p>TNI softFlow 50 Ventilator, CE approved, Therapy with Nasal Insufflation</p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--        -->
<!--                                <div class="col-md-12 col-lg-12 product-info">-->
<!--                                    <div class="container p-0">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-5 p-0">-->
<!--                                                <div class="single_post_thumbnail h-100p">-->
<!--                                                    <img src="images/blog/latest_post/vent2.png" alt="single post thumbail"-->
<!--                                                        class="min-h-100p">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-5 p-0 mid-box">-->
<!--                                                <div class="mid-box-title">-->
<!--                                                    <h2>ACM812A Ventilator features</h2>-->
<!--                                                </div>-->
<!--                                                <div class="mid-box-content">-->
<!--                                                    <ul>-->
<!--                                                        <li>Method and Effects</li>-->
<!--                                                        <li>Which leads to improved elimination of CO2,</li>-->
<!--                                                        <li>Eeduces the functional dead space,</li>-->
<!--                                                        <li>Supports and relieves the respiratory pump</li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-2 third-box p-0">-->
<!--                                                <div class="third-box-title">-->
<!--                                                    <h2>Available Info</h2>-->
<!--                                                </div>-->
<!--                                                <div class="third-box-content">-->
<!--                                                    <ul>-->
<!--                                                        <li>20 units in stock​</li>-->
<!--                                                        <li>For treating respiratory insufficiency type I and II in patients suffering from</li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--        -->
<!--            </div>-->
<!--        </div>-->
        <!--Our product page end-->
        
        <!-- Start Subscribe Area -->
        <section class="htc__subscribe__area subscribe--transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="htc__subscribe__inner">
                            <div class="newsletter_section_title">
                                <h2 class="text-theme">Subscribe Email</h2>
                                <h4>Get our latest news & update regularly</h4>
                            </div>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <form action="#">
                                        <div class="input_email_inner">
                                            <input type="email" placeholder="Type Email Address">
                                        </div>
                                        <button type="submit">Subscribe</button>
                                    </form>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}